.num1{
    color: green;
    font-style: italic;
}

.num2{
    color: blue;
    font-style: italic;
}

.num3{
    color: red;
    font-weight: bold;
}

.num4{
    color: black;
    font-style: italic;
    font-weight: bold;
}